@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 100px;
  margin: 2px;
}
